/* Área de Citações */

.citacao-bio {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    padding: 20px;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
}

/* Estilizando a caixa de citações */

blockquote:before {
    content: '"';
    font-size: 7em;
    position: absolute;
    transform: translate(-32%, -30%);
    color: #bbb;
    font-family: "Arial", "Times New Roman", serif;
}

/* Separando as citações por ímpar e par */

blockquote:nth-of-type(2n) {
    float: left;
    margin-left: 0;
}

blockquote:nth-of-type(2n+1) {
    float: right;
    margin-right: 0;
}

/* Evidenciando as citações */

blockquote:nth-of-type(2n):hover, blockquote:nth-of-type(2n):focus {
    position: relative;
    transform: translate(7%, -5%) rotate(-8deg) translateZ(15px) scale(1.2);
    z-index: 9999;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
}

blockquote:nth-of-type(2n+1):hover, blockquote:nth-of-type(2n+1):focus {
    position: relative;
    transform: translate(7%, -5%) rotate(8deg) translateZ(15px) scale(1.2);
    z-index: 9999;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
}

.container>p::first-letter {
    color: #3C1D3D;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1.5px 1.5px #000;
}