.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog + .post-blog {
    padding-top: 30px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}