/* Foto do Index  */

.foto-home {
    height: 4em;
    border-radius: 1000%;
}

/* Seção de Titulo Principal */

.palavras-home {
    font-weight: bold;
    font-family: "Shadows Into Light";
    color: #D5447E;
    font-size: 0.7em;
    perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Twitter {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #FFF;
    background-color: #3C1D3D;
    position: absolute;
    padding: 0.5em 2.0em;
    border-top: #000 solid 0.1em;
    border-bottom: #000 solid 0.1em;
    transform: translate(137%, -606%) rotate(42deg);
}

/* Palavras */

.eficiencia {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(1px);
}

.boas-praticas {
    position: absolute;
    top: 20%;
    right: 75%;
    transform: translate(-50%, -50%) rotate(-10deg);
}

.codigo-limpo {
    position: absolute;
    top: 17%;
    left: 68%;
    transform: translate(-50%, -50%) rotate(20deg)translateZ(0.8px);
}

.css3 {
    position: absolute;
    top: 10%;
    right: 65%;
    transform: translate(-50%, -50%);
}

.html5 {
    position: absolute;
    top: 13%;
    right: 79%;
    transform: translate(-50%, -50%) rotate(-20deg) translateZ(0.8px);
}

.javascript {
    position: absolute;
    top: 55%;
    left: 90%;
    transform: translate(-50%, -50%) rotate(15deg);
}

.acessibilidade {
    position: absolute;
    top: 60%;
    right: 65%;
    transform: translate(-50%, -50%);
}

.responsivo {
    position: absolute;
    top: 50%;
    right: 72%;
    transform: translate(-50%, -50%) rotate(-10deg)translateZ(1px);
}

.otimizacoes {
    position: absolute;
    top: 30%;
    left: 76%;
    transform: translate(-50%, -50%) rotate(-15deg) translateZ(1px);
}

.agilidade {
    position: absolute;
    top: 35%;
    right: 81%;
    transform: translate(-50%, -50%);
}

.design {
    position: absolute;
    top: 40%;
    right: 55%;
    transform: translate(-50%, -50%) rotate(12deg) translateZ(2px);
}

/* Seção de Saudação  */

.sites-maravilhosos {
    display: inline-block;
    transform: skew(-25deg) rotate(-5deg) scale(0.95);
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    font-size: 3em;
    color: #889;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    font-size: 2em;
    color: #000;
}

.saudacao em {
    color: #851944;
    font-size: 4em;
}

/* Seção de Botoes */

.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}

/* Seção para Inicios de Partes  */

.secao-inicio {
    padding: 2em;
}

.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}

/* Seção para os Trabalhos  */

.trabalhos li {
    float: left;
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}

/* Seção para Blogs  */

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}

.blog small {
    position: relative;
    top: -2em;
}

.inicio-post {
    background: #FFF;
    color: #000;
    position: absolute;
    top: 1em;
    left: 11em;
    height: 7em;
    padding: 1em;
    margin: 6em;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

/* Seção para rodapés  */

footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}

footer h2 {
    font-size: 3em;
}

footer a {
    color: #F99;
}

/* Seção do main  */

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

/* Seção do Cubo */

.cubo {
    perspective: 6px;
    transform-style: preserve-3d;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.face {
    display: inline-block;
    position: absolute;
    padding: 0.5em 2.0em;
    border: #000 solid 0.1em;
}

.cima {
    top: -150%;
    right: 70%;
    width: 20px;
    height: 60px;
    transform: translate(-50%, 920%);
}

.baixo {
    top: -150%;
    right: 70%;
    width: 20px;
    height: 60px;
    transform: translate(-50%, 1020%);
}

.esquerda {
    top: -150%;
    right: 70%;
    width: 20px;
    height: 60px;
    transform: translate(-50%, 1020%);
}

.direita {
    top: -150%;
    right: 70%;
    width: 20px;
    height: 60px;
    transform: translate(-50%, 1020%);
}

.frente {
    top: -150%;
    right: 70%;
    width: 20px;
    height: 60px;
    transform: translate(-50%, 1020%);
}

.costas {
    top: -150%;
    right: 70%;
    width: 20px;
    height: 60px;
    transform: translate(-50%, 1020%);
}